#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* .logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
} */

/* ^react  added> */

/* 
.card {
  border: #888 2px solid;
  border-radius: 10px;
  padding: 1em;
  margin: 0 10px;
}

.card-sale {
  /*make a border glow in css
  box-shadow: 0 0 10px 5px #61dafbaa;
}

.card h1 {
  color: aquamarine;
  font-size: 20px;
} */

/* .card h3 {
  font-size: 16px;
  margin: 0 10px;
} */

/* .read-the-docs {
  color: #888;
} */

.card {
  padding: 1em;
}

.image {
  width: 150px;
}

.cards-collection {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  text-align: left;
}

.cards-collection p {
  margin: 0;
  margin-bottom: 0.5en;
}

.cards-collection h3 {
  margin: 0;
}
.cards-collection h5 {
  margin: 0;
  color: #5a5555;
}
